{% extends noLayout == true ? viewbaseLayout : pagelayout %}

{% block content %}
    <!-- =========================================
    Home Section
    ========================================== -->
    <!-- home-section -->
    <div id="home-section" style="background-image: url('{{ ez_field_value(content, 'image').uri }}');">

        <!-- home-section-overlayer -->
        <div id="home-section-overlayer"><div id="particles-js"></div></div>

        <!-- home-section-container -->
        <div id="home-section-container">

            <!-- personal-name -->
            <div class="personal-name">
                <h1>Durano Florian</h1>
            </div><!-- /personal-name -->

            <!-- personal-title -->
            <div class="personal-title">
                <h4><span id="personal-typed">Je suis </span></h4>
            </div><!-- /personal-title -->

            <!-- personal-button -->
            <div class="personal-button">
                <a href="#services-section" title="My Services" class="btn btn-lg btn-nesto-o" data-scroll>
                    Mes Services
                </a>
            </div><!-- /personal-button -->

        </div><!-- /home-section-container -->

    </div><!-- /home-section -->




    <!-- =========================================
    Services Section
    ========================================== -->
    <!-- services-section -->
    <div id="services-section">


        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">


                <!-- col-md-12 -->
                <div class="col-md-12">

                    <!-- section-title -->
                    <div class="section-title wow fadeInDown" data-wow-duration="1.5s">
                        <h1>Services</h1>
                    </div><!-- /section-title -->

                    <!-- section-desc -->
                    <div class="section-desc wow fadeInUp" data-wow-duration="1.5s">
                        <h3>Ce que je fais</h3>
                    </div><!-- /section-desc -->

                </div><!-- /col-md-12 -->


                <!-- col-md-6 -->
                <div class="col-md-6">

                    <!-- feature-box -->
                    <div class="feature-box wow fadeInLeft" data-wow-duration="1.5s">

                        <!-- box-icon -->
                        <div class="box-icon">
                            <i class="pe-7s-global"></i>
                        </div><!-- /box-icon -->

                        <!-- box-icon -->
                        <div class="box-content">

                            <!-- box-title -->
                            <div class="box-title">
                                <h3>Développement web</h3>
                            </div><!-- /box-title -->

                            <!-- box-desc -->
                            <div class="box-desc">
                                <p>Site vitrine, site marchand ou site mobile, je réalise avec vous votre site internet sur mesure.<br />
                                    Spécialisé depuis plusieurs années dans la création de sites internet évolutifs réalisées avec les derniers standards et respectant les normes d’accessibilité numériques en vigueur.
                                    Ma mission est de vous accompagner dans la mise en place de votre projet, en apportant une expertise et une solution adaptée, performante et évolutive.
                                    Tous les sites internet développés sont fournis avec un système d'aministration afin que <b>vous puissiez gérer vous-même</b> l'intégralité de vos contenus éditoriaux et visuels.</p>
                            </div><!-- /box-desc -->

                        </div><!-- /box-icon -->

                    </div><!-- /feature-box -->

                </div><!-- /col-md-6 -->


                <!-- col-md-6 -->
                <div class="col-md-6">

                    <!-- feature-box -->
                    <div class="feature-box wow fadeInRight" data-wow-duration="1.5s">

                        <!-- box-icon -->
                        <div class="box-icon">
                            <i class="pe-7s-display1"></i>
                        </div><!-- /box-icon -->

                        <!-- box-icon -->
                        <div class="box-content">

                            <!-- box-title -->
                            <div class="box-title">
                                <h3>Création de sites web</h3>
                            </div><!-- /box-title -->

                            <!-- box-desc -->
                            <div class="box-desc">
                                <p>Tout comme l'impression, le webdesign doit respecter l'identité visuelle d'une entreprise. Quelques bonnes connaissances en ergonomie et encodage (html et css) ainsi que le respect d'une charte graphique sont indispensables. Je suis toujours en veille des tendances et des techniques liées au support web.
                                    Que votre projet consiste en un simple site vitrine ou qu'il soit d'envergure plus imposante, j'établis avec vous les besoins spécifiques au développement de votre projet.
                                    Vous avez besoin seulement d'une charte graphique ou d'un habillage pour votre site, nous construisons le design autour de vos valeurs et de votre identité.</p>
                            </div><!-- /box-desc -->

                        </div><!-- /box-icon -->

                    </div><!-- /feature-box -->

                </div><!-- /col-md-6 -->


                <!-- col-md-6 -->
                <div class="col-md-6">

                    <!-- feature-box -->
                    <div class="feature-box wow fadeInLeft" data-wow-duration="1.5s">

                        <!-- box-icon -->
                        <div class="box-icon">
                            <i class="pe-7s-cloud-upload"></i>
                        </div><!-- /box-icon -->

                        <!-- box-icon -->
                        <div class="box-content">

                            <!-- box-title -->
                            <div class="box-title">
                                <h3>Services d'hébergement</h3>
                            </div><!-- /box-title -->

                            <!-- box-desc -->
                            <div class="box-desc">
                                <p>Votre entreprise et vos objectifs sont uniques. Votre hébergement devrait l’être aussi. C’est pourquoi je vous aiderai à choisir la bonne solution d’hébergement et le soutien dont vous avez besoin. Que ce soit pour une administration sur demande de votre système ou une gestion complète des services ou quelque chose entre les deux, je vous aiderai à atteindre un autre niveau d’efficacité, de sécurité et d’accessibilité avec un service personnalisé qui vous sera unique.</p>
                            </div><!-- /box-desc -->

                        </div><!-- /box-icon -->

                    </div><!-- /feature-box -->

                </div><!-- /col-md-6 -->


                <!-- col-md-6 -->
                <div class="col-md-6">

                    <!-- feature-box -->
                    <div class="feature-box wow fadeInRight" data-wow-duration="1.5s">

                        <!-- box-icon -->
                        <div class="box-icon">
                            <i class="pe-7s-user"></i>
                        </div><!-- /box-icon -->

                        <!-- box-icon -->
                        <div class="box-content">

                            <!-- box-title -->
                            <div class="box-title">
                                <h3>A propos</h3>
                            </div><!-- /box-title -->

                            <!-- box-desc -->
                            <div class="box-desc">
                                <p>Développeur web curieux, autonome, rigoureux, j'aime les applications simples, rapides et efficaces.
                                    Un sens de l'écoute et du service renforcé par 10 ans d'expériences à travailler sur des projets variés, une expertise technique en constante progression grâce à une formation perpétuelle.
                                    Motivé par le besoin de faire toujours mieux et appuyé par de solides bases acquises lors de mon parcours, je prend plaisir à relever de nouveaux challenges.
                                    Actuellement en formation, je m'épanoui avec des projets Symfony afin de rendre le web meilleur!</p>
                            </div><!-- /box-desc -->

                        </div><!-- /box-icon -->

                    </div><!-- /feature-box -->

                </div><!-- /col-md-6 -->


            </div><!-- /row -->
        </div><!-- /container -->


    </div><!-- /services-section -->




    <!-- =========================================
    Skills Section
    ========================================== -->
    <!-- skills-section -->
    <div id="skills-section" style="background-image: url('{{ ez_field_value(content, 'image_skills').uri }}');">


        <!-- skills-section-overlayer -->
        <div id="skills-section-overlayer">


            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">


                    <!-- owl-skills-wrapper -->
                    <div id="owl-skills-wrapper">

                        <!-- owl-skills -->
                        <div class="owl-skills">


                            <!-- slide-item -->
                            <div>

                                <!-- slide-content -->
                                <div class="slide-content">

                                    <!-- Value -->
                                    <div class="skills" data-rel="99" id="skill-5"></div>

                                    <!-- skill-title -->
                                    <div class="skill-title">
                                        <h2>HTML5</h2>
                                    </div><!-- /skill-title -->

                                    <!-- skill-content -->
                                    <div class="skill-content">
                                        <p>Votre site HTML5 visible sur tout les Navigateurs, même sur smartphone.</p>
                                    </div><!-- /skill-content -->

                                </div><!-- /slide-content -->

                            </div><!-- /slide-item -->


                            <!-- slide-item -->
                            <div>

                                <!-- slide-content -->
                                <div class="slide-content">

                                    <!-- Value -->
                                    <div class="skills" data-rel="99" id="skill-6"></div>

                                    <!-- skill-title -->
                                    <div class="skill-title">
                                        <h2>CSS3</h2>
                                    </div><!-- /skill-title -->

                                    <!-- skill-content -->
                                    <div class="skill-content">
                                        <p>Profitez des dernieres innovations à propos de votre mise en page.</p>
                                    </div><!-- /skill-content -->

                                </div><!-- /slide-content -->

                            </div><!-- /slide-item -->


                            <!-- slide-item -->
                            <div>

                                <!-- slide-content -->
                                <div class="slide-content">

                                    <!-- Value -->
                                    <div class="skills" data-rel="90" id="skill-7"></div>

                                    <!-- skill-title -->
                                    <div class="skill-title">
                                        <h2>PHP</h2>
                                    </div><!-- /skill-title -->

                                    <!-- skill-content -->
                                    <div class="skill-content">
                                        <p>Pour un site dynamique, vous pourrez gérer votre site via votre panel d'administration.</p>
                                    </div><!-- /skill-content -->

                                </div><!-- /slide-content -->

                            </div><!-- /slide-item -->


                            <!-- slide-item -->
                            <div>

                                <!-- slide-content -->
                                <div class="slide-content">

                                    <!-- Value -->
                                    <div class="skills" data-rel="58" id="skill-8"></div>

                                    <!-- skill-title -->
                                    <div class="skill-title">
                                        <h2>JavaScript</h2>
                                    </div><!-- /skill-title -->

                                    <!-- skill-content -->
                                    <div class="skill-content">
                                        <p>Eblouissez avec une multitude d'effets visuels et une fluidité exemplaire.</p>
                                    </div><!-- /skill-content -->

                                </div><!-- /slide-content -->

                            </div><!-- /slide-item -->

                            <!-- slide-item -->
                            <div>

                                <!-- slide-content -->
                                <div class="slide-content">

                                    <!-- Value -->
                                    <div class="skills" data-rel="75" id="skill-1"></div>

                                    <!-- skill-title -->
                                    <div class="skill-title">
                                        <h2>SQL</h2>
                                    </div><!-- /skill-title -->

                                    <!-- skill-content -->
                                    <div class="skill-content">
                                        <p>SQL (sigle de Structured Query Language, en français langage de requête structurée) est un langage informatique normalisé servant à exploiter des bases de données relationnelles.</p>
                                    </div><!-- /skill-content -->

                                </div><!-- /slide-content -->

                            </div><!-- /slide-item -->


                            <!-- slide-item -->
                            <div>

                                <!-- slide-content -->
                                <div class="slide-content">

                                    <!-- Value -->
                                    <div class="skills" data-rel="89" id="skill-2"></div>

                                    <!-- skill-title -->
                                    <div class="skill-title">
                                        <h2>Framework CSS</h2>
                                    </div><!-- /skill-title -->

                                    <!-- skill-content -->
                                    <div class="skill-content">
                                        <p>Foundation, Cool Kitten, Bootstrap, Knacss, Bulma, Materialize, YAML ou encore Responsive grid System</p>
                                    </div><!-- /skill-content -->

                                </div><!-- /slide-content -->

                            </div><!-- /slide-item -->


                            <!-- slide-item -->
                            <div>

                                <!-- slide-content -->
                                <div class="slide-content">

                                    <!-- Value -->
                                    <div class="skills" data-rel="75" id="skill-3"></div>

                                    <!-- skill-title -->
                                    <div class="skill-title">
                                        <h2>Framework JS</h2>
                                    </div><!-- /skill-title -->

                                    <!-- skill-content -->
                                    <div class="skill-content">
                                        <p>AngularJS, Ember.js, SproutCore, Backbone.JS, Knockout.js, Spine, CanJS, Meteor-JS, Derby ou encore Yahoo Mojito</p>
                                    </div><!-- /skill-content -->

                                </div><!-- /slide-content -->

                            </div><!-- /slide-item -->


                            <!-- slide-item -->
                            <div>

                                <!-- slide-content -->
                                <div class="slide-content">

                                    <!-- Value -->
                                    <div class="skills" data-rel="79" id="skill-4"></div>

                                    <!-- skill-title -->
                                    <div class="skill-title">
                                        <h2>Framework Backend</h2>
                                    </div><!-- /skill-title -->

                                    <!-- skill-content -->
                                    <div class="skill-content">
                                        <p>Dart, Zend, Symfony, Laravel, Node.js, Mootools, Backbone.js, FuelPHP ou encore Meteor</p>
                                    </div><!-- /skill-content -->

                                </div><!-- /slide-content -->

                            </div><!-- /slide-item -->


                        </div><!-- /owl-skills -->


                    </div><!-- /owl-skills-wrapper -->


                </div><!-- /row -->
            </div><!-- /container -->


        </div><!-- /skills-section-overlayer -->


    </div><!-- /skills-section -->




    <!-- =========================================
    Resume Section
    ========================================== -->
    <!-- resume-section -->
    <div id="resume-section">


        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">


                <!-- col-md-12 -->
                <div class="col-md-12">

                    <!-- section-title -->
                    <div class="section-title wow fadeInDown" data-wow-duration="1.5s">
                        <h1>CV {{ 'Resume'|trans }}</h1>
                    </div><!-- /section-title -->

                    <!-- section-desc -->
                    <div class="section-desc wow fadeInUp" data-wow-duration="1.5s">
                        <h3>Formations &amp; Experiences</h3>
                    </div><!-- /section-desc -->

                </div><!-- /col-md-12 -->

                <!-- owl-resume-wrapper -->
                <div id="owl-resume-wrapper">
                    <!-- owl-resume -->
                    <div class="owl-resume">
                        {{ render_esi(controller('ez_content:viewAction', {
                            locationId: personalResume_location_id,
                            viewType: 'home'
                        })) }}
                    </div><!-- /owl-resume -->
                </div><!-- /owl-resume-wrapper -->

                <!-- download-resume -->
                <div class="download-resume">
                    <a href="CV_FLO.pdf" title="Download Resume" class="btn btn-lg btn-nesto" target="_blank">
                        Télécharger CV
                    </a>
                </div><!-- /download-resume -->


            </div><!-- /row -->
        </div><!-- /container -->


    </div><!-- /resume-section -->




    <!-- =========================================
    Subscribe Section
    ========================================== -->
    <!-- subscribe-section -->
    <div id="subscribe-section" style="background-image: url('{{ ez_field_value(content, 'image_subscribe').uri }}');">


        <!-- subscribe-section-overlayer -->
        <div id="subscribe-section-overlayer">


            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">

                    <div class="col-md-6">
                        <!-- section-title -->
                        <div class="section-title wow fadeInDown" data-wow-duration="1.5s">
                            <h1>S'inscrire à la Newsletter</h1>
                        </div><!-- /section-title -->
                    </div>
                    <!-- col-md-6 -->
                    <div class="col-md-6">

                        <!-- newsletter-form -->
                        <form id="newsletter-form" role="form">

                            <!-- row -->
                            <div class="row">


                                <!-- col-md-12 -->
                                <div class="col-md-12">

                                    <!-- form-group -->
                                    <div class="form-group">

                                        <!-- email -->
                                        <input type="email" class="form-control" placeholder="Entrer votre adresse e-mail" name="email" value="">

                                        <!-- Subscribe Button -->
                                        <button type="submit" class="btn btn-lg btn-nesto-o">
                                            Souscrire
                                        </button>

                                    </div><!-- /form-group -->

                                </div><!-- /col-md-12 -->

                                <!-- col-md-12 -->
                                <div class="col-md-12">

                                    <!-- nesto-message -->
                                    <div class="nesto-message">

                                        <!-- nesto-response -->
                                        <p class="nesto-response"></p>

                                    </div><!-- /nesto-message -->

                                </div><!-- /col-md-12 -->

                            </div><!-- /row -->

                        </form><!-- /newsletter-form -->

                    </div><!-- /col-md-6 -->

                </div><!-- /row -->
            </div><!-- /container -->


        </div><!-- /subscribe-section-overlayer -->


    </div><!-- /subscribe-section -->




    <!-- =========================================
    Portfolio Section
    ========================================== -->
    <!-- portfolio-section -->
    <div id="portfolio-section">
        <!-- portfolio-photostack -->
        <div id="portfolio-photostack" class="photostack">
            <div>
                {{ render_esi(controller('ez_content:viewAction', {
                    locationId: gallery_location_id,
                    viewType: 'home'
                })) }}
            </div>
        </div><!-- /portfolio-photostack -->
    </div><!-- /portfolio-section -->


    <!-- =========================================
    More Section
    ========================================== -->
    <!-- more-section -->
    <div id="more-section">
        <!-- more-button -->
        <div class="more-button">
            <a href="{{ path('ez_urlalias', {locationId: gallery_location_id}) }}" title="{{ 'View all'|trans }}" class="btn btn-lg btn-nesto-o">
                {{ 'View all'|trans }}
            </a>
        </div><!-- /more-button -->
    </div><!-- /more-section -->




    <!-- =========================================
    Testimonials Section
    ========================================== -->
    <!-- testimonials-section -->
    <div id="testimonials-section" style="background-image: url('{{ ez_field_value(content, 'image_testimonials').uri }}');">
        <!-- testimonials-section-overlayer -->
        <div id="testimonials-section-overlayer">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- col-md-12 -->
                    <div class="col-md-12">
                        <!-- owl-testimonials-wrapper -->
                        <div id="owl-testimonials-wrapper">
                            <!-- owl-testimonials -->
                            <div class="owl-testimonials">
                                {{ render_esi(controller('ez_content:viewAction', {
                                    locationId: testimonials_location_id,
                                    viewType: 'home'
                                })) }}
                            </div><!-- /owl-testimonials -->
                        </div><!-- /owl-testimonials-wrapper -->
                    </div><!-- /col-md-12 -->
                </div><!-- /row -->
            </div><!-- /container -->
        </div><!-- /testimonials-section-overlayer -->
    </div><!-- /testimonials-section -->

    <!-- =========================================
    Certification Section
    ========================================== -->
    <!-- certif-section -->
    <div id="certif-section">


        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">


                <!-- col-md-12 -->
                <div class="col-md-12">

                    <!-- section-title -->
                    <div class="section-title wow fadeInDown" data-wow-duration="1.5s">
                        <h1>Certifications</h1>
                    </div><!-- /section-title -->

                    <!-- section-desc -->
                    <div class="section-desc wow fadeInUp" data-wow-duration="1.5s">
                        <h3>Voici mes certifications</h3>
                    </div><!-- /section-desc -->

                </div><!-- /col-md-12 -->

                {{ render_esi(controller('ez_content:viewAction', {
                    locationId: certifications_location_id,
                    viewType: 'home'
                })) }}

            </div><!-- /row -->

        </div><!-- /container -->


    </div><!-- /pricing-section -->




    <!-- =========================================
    Numbers Section
    ========================================== -->
    <!-- numbers-section -->
    <div id="numbers-section" style="background-image: url('{{ ez_field_value(content, 'image_numbers').uri }}');">


        <!-- numbers-section-overlayer -->
        <div id="numbers-section-overlayer">


            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">


                    <!-- col-md-3 col-sm-6 col-xs-6 -->
                    <div class="col-md-3 col-sm-6 col-xs-6">


                        <!-- numbers -->
                        <div class="numbers wow fadeInUp" data-wow-duration="1.5s">

                            <!-- box-icon -->
                            <div class="box-icon">
                                <i class="pe-7s-edit"></i>
                            </div><!-- /box-icon -->

                            <!-- box-numbers -->
                            <div class="box-numbers">
                                <span class="odometer" data-to="2365"></span>
                            </div><!-- /box-numbers -->

                            <!-- box-title -->
                            <div class="box-title">
                                <h2>Lignes De Code</h2>
                            </div><!-- /box-title -->

                        </div><!-- /numbers -->


                    </div><!-- /col-md-3 col-sm-6 col-xs-6 -->


                    <!-- col-md-3 col-sm-6 col-xs-6 -->
                    <div class="col-md-3 col-sm-6 col-xs-6">


                        <!-- numbers -->
                        <div class="numbers wow fadeInDown" data-wow-duration="1.5s">

                            <!-- box-icon -->
                            <div class="box-icon">
                                <i class="pe-7s-global"></i>
                            </div><!-- /box-icon -->

                            <!-- box-numbers -->
                            <div class="box-numbers">
                                <span class="odometer" data-to="365"></span>
                            </div><!-- /box-numbers -->

                            <!-- box-title -->
                            <div class="box-title">
                                <h2>Sites Web</h2>
                            </div><!-- /box-title -->

                        </div><!-- /numbers -->


                    </div><!-- /col-md-3 col-sm-6 col-xs-6 -->


                    <!-- col-md-3 col-sm-6 col-xs-6 -->
                    <div class="col-md-3 col-sm-6 col-xs-6">


                        <!-- numbers -->
                        <div class="numbers wow fadeInUp" data-wow-duration="1.5s">

                            <!-- box-icon -->
                            <div class="box-icon">
                                <i class="pe-7s-coffee"></i>
                            </div><!-- /box-icon -->

                            <!-- box-numbers -->
                            <div class="box-numbers">
                                <span class="odometer" data-to="565"></span>
                            </div><!-- /box-numbers -->

                            <!-- box-title -->
                            <div class="box-title">
                                <h2>Tasses de Café</h2>
                            </div><!-- /box-title -->

                        </div><!-- /numbers -->


                    </div><!-- /col-md-3 col-sm-6 col-xs-6 -->


                    <!-- col-md-3 col-sm-6 col-xs-6 -->
                    <div class="col-md-3 col-sm-6 col-xs-6">


                        <!-- numbers -->
                        <div class="numbers wow fadeInDown" data-wow-duration="1.5s">

                            <!-- box-icon -->
                            <div class="box-icon">
                                <i class="pe-7s-help2"></i>
                            </div><!-- /box-icon -->

                            <!-- box-numbers -->
                            <div class="box-numbers">
                                <span class="odometer" data-to="165"></span>
                            </div><!-- /box-numbers -->

                            <!-- box-title -->
                            <div class="box-title">
                                <h2>Ticket Support</h2>
                            </div><!-- /box-title -->

                        </div><!-- /numbers -->


                    </div><!-- /col-md-3 col-sm-6 col-xs-6 -->


                </div><!-- /row -->
            </div><!-- /container -->


        </div><!-- /numbers-section-overlayer -->


    </div><!-- /numbers-section -->




    <!-- =========================================
    Contact Section
    ========================================== -->
    <!-- contact-section -->
    <div id="contact-section">


        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">


                <!-- col-md-12 -->
                <div class="col-md-12">

                    <!-- section-title -->
                    <div class="section-title wow fadeInDown" data-wow-duration="1.5s">
                        <h1>contact</h1>
                    </div><!-- /section-title -->

                    <!-- section-desc -->
                    <div class="section-desc wow fadeInUp" data-wow-duration="1.5s">
                        <h3>entrez en contact</h3>
                    </div><!-- /section-desc -->

                </div><!-- /col-md-12 -->


                <!-- col-md-12 -->
                <div class="col-md-12 wow pulse" data-wow-duration="1.5s">
                    <!-- row -->
                    <div class="row">


                        <!-- form -->
                        <form role="form" id="contactform" method="post" action="javascript:nestocontact();">


                            <!-- col-md-4 -->
                            <div class="col-md-4">

                                <!-- Contact Name -->
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nom" name="username" id="name">
                                </div><!-- /Contact Name -->

                            </div><!-- /col-md-4 -->

                            <!-- col-md-4 -->
                            <div class="col-md-4">

                                <!-- Contact Email -->
                                <div class="form-group">
                                    <input type="text" class="form-control email" placeholder="Email" name="useremail" id="email">
                                </div><!-- /Contact Email -->

                            </div><!-- /col-md-4 -->

                            <!-- col-md-4 -->
                            <div class="col-md-4">

                                <!-- Contact Subject -->
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Sujet" name="usersubject" id="subject">
                                </div><!-- /Contact Subject -->

                            </div><!-- /col-md-4 -->


                            <!-- col-md-12 -->
                            <div class="col-md-12">

                                <!-- Contact Message -->
                                <div class="form-group">
                                    <textarea rows="10" class="form-control" placeholder="Message" name="usermessage" id="message"></textarea>
                                </div><!-- /Contact Message -->

                            </div><!-- /col-md-12 -->


                            <!-- col-md-12 -->
                            <div class="col-md-12">
                                <!-- Submit Button -->
                                <button type="submit" id="nesto-submit" class="btn btn-lg btn-nesto">
                                    Envoyer maintenant
                                </button>
                            </div><!-- /col-md-12 -->


                            <!-- col-md-12 -->
                            <div class="col-md-12">
                                <!-- form-message -->
                                <div class="form-message"></div>
                            </div><!-- /col-md-12 -->


                        </form><!-- /form -->


                    </div><!-- /row -->
                </div><!-- /col-md-12 -->


            </div><!-- /row -->
        </div><!-- /container -->


    </div><!-- /contact-section -->

    <section class="Blog">
        <div class="container space-top-half space-bottom">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="header-text-one space-bottom-less">{{ 'Blog'|trans }}</h1>
                </div>
            </div>

            <div class="row space-bottom-less">
                <div class="col-md-10 col-md-offset-1">
                    {{ render_esi(controller('ez_content:viewAction', {
                        locationId: blog_location_id,
                        viewType: 'home'
                    })) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
