<!DOCTYPE html>
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <!-- =========================================
    head
    ========================================== -->
    <head>
        {% if content is defined and title is not defined %}
            {% set title = ez_content_name(content) %}
        {% endif %}

        {% block page_head %}
            <title>{{ title|default('Home')|trans }} - Meg4R0M</title>
        {% endblock %}

        <meta name="author" content="LinuSploiT" />
        <meta name="robots" content="index follow" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Meg4R0M, CV, Personnal, Resume, Project" />
        <meta name="description" content="Meg4R0M - Web Designer / PHP Developer" />

        <!-- =========================================
        Mobile Configurations
        ========================================== -->
        <meta name="GOOGLEBOT" content="index follow" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no" />

        <!-- =========================================
        fav & icons for iPhone and iPad
        ========================================== -->
        <link rel="shortcut icon" href="{{ asset('assets/images/icons/favicon.ico') }}" />
        <link rel="apple-touch-icon-precomposed" href="{{ asset('assets/images/icons/icon.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('assets/images/icons/icon@2x.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('assets/images/icons/icon-72.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('assets/images/icons/icon-72@2x.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ asset('assets/images/icons/icon-60.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ asset('assets/images/icons/icon-60@2x.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ asset('assets/images/icons/icon-76.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ asset('assets/images/icons/icon-76@2x.png') }}" />

        {% include 'HomeBundle:Layout:styles.html.twig' %}

        <!-- =========================================
        Head Libs
        ========================================== -->
        <script type="text/javascript" src="{{ asset('assets/js/vendor/modernizr.custom.js') }}"></script>
    </head><!-- /head -->

    <!-- =========================================
    body
    ========================================== -->
    <body class="parallax-image main-page">

        <!--[if lt IE 7]>
        <p class="browsehappy">You are using an outdated browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- =========================================
        Loader
        ========================================== -->
        <!-- loader -->
        <div id="loader">

            <!-- loader-container -->
        <div id="loader-container">
                <img src="{{ asset('assets/images/loader.gif') }}" alt="Loader" />
            </div><!-- /loader-container -->

        </div><!-- /loader -->

        <!-- =========================================
        Content
        ========================================== -->
        <!-- content-wrapper -->
        <div id="content-wrapper">
        {% block header %}
            {{ render_esi(controller('home.controller.menu:getChildNodesAction', {
                template: 'HomeBundle:Layout:header.html.twig'
            })) }}
        {% endblock %}

        {% block content %}{% endblock %}

        {% block footer %}
            {% include 'HomeBundle:Layout:footer.html.twig' %}
        {% endblock %}
        {% include 'HomeBundle:Layout:scripts.html.twig' %}
        {% block javascripts %}{% endblock %}
        </div><!-- /content-wrapper -->
    </body><!-- /body -->
</html><!-- /html -->
