{% extends "HomeBundle:Default:pagelayout.html.twig" %}

{% block content %}
    <!-- =========================================
    Home Section
    ========================================== -->
    <!-- home-section -->
    <div id="home-section" style="background-image: url('{{ ez_field_value(content, 'image').uri }}');">
        <!-- home-section-overlayer -->
        <div id="home-section-overlayer"><div id="particles-js"></div></div>
        <!-- home-section-container -->
        <div id="home-section-container">
            <!-- personal-name -->
            <div class="personal-name">
                <h1>Durano Florian</h1>
            </div><!-- /personal-name -->
            <!-- personal-title -->
            <div class="personal-title">
                <h4><span id="personal-typed">Je suis </span></h4>
            </div><!-- /personal-title -->
            <!-- personal-button -->
            <div class="personal-button">
                <a href="#services-section" title="My Services" class="btn btn-lg btn-nesto-o" data-scroll>
                    Mes Services
                </a>
            </div><!-- /personal-button -->
        </div><!-- /home-section-container -->
    </div><!-- /home-section -->

    <!-- =========================================
    Services Section
    ========================================== -->
    <!-- services-section -->
    <div id="services-section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- col-md-12 -->
                <div class="col-md-12">
                    <!-- section-title -->
                    <div class="section-title wow fadeInDown" data-wow-duration="1.5s">
                        <h1>Services</h1>
                    </div><!-- /section-title -->
                    <!-- section-desc -->
                    <div class="section-desc wow fadeInUp" data-wow-duration="1.5s">
                        <h3>Ce que je fais</h3>
                    </div><!-- /section-desc -->
                </div><!-- /col-md-12 -->
                {{ render_esi(controller('ez_content:viewAction', {
                    locationId: services_location_id,
                    viewType: 'home'
                })) }}
            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /services-section -->

    <!-- =========================================
    Skills Section
    ========================================== -->
    <!-- skills-section -->
    <div id="skills-section" style="background-image: url('{{ ez_field_value(content, 'image_skills').uri }}');">
        <!-- skills-section-overlayer -->
        <div id="skills-section-overlayer">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- owl-skills-wrapper -->
                    <div id="owl-skills-wrapper">
                        <!-- owl-skills -->
                        <div class="owl-skills">
                            {{ render_esi(controller('ez_content:viewAction', {
                                locationId: skills_location_id,
                                viewType: 'home'
                            })) }}
                        </div><!-- /owl-skills -->
                    </div><!-- /owl-skills-wrapper -->
                </div><!-- /row -->
            </div><!-- /container -->
        </div><!-- /skills-section-overlayer -->
    </div><!-- /skills-section -->


    <!-- =========================================
    Resume Section
    ========================================== -->
    <!-- resume-section -->
    <div id="resume-section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- col-md-12 -->
                <div class="col-md-12">
                    <!-- section-title -->
                    <div class="section-title wow fadeInDown" data-wow-duration="1.5s">
                        <h1>CV {{ 'Resume'|trans }}</h1>
                    </div><!-- /section-title -->
                    <!-- section-desc -->
                    <div class="section-desc wow fadeInUp" data-wow-duration="1.5s">
                        <h3>Formations &amp; Experiences</h3>
                    </div><!-- /section-desc -->
                </div><!-- /col-md-12 -->
                <!-- owl-resume-wrapper -->
                <div id="owl-resume-wrapper">
                    <!-- owl-resume -->
                    <div class="owl-resume">
                        {{ render_esi(controller('ez_content:viewAction', {
                            locationId: personalResume_location_id,
                            viewType: 'home'
                        })) }}
                    </div><!-- /owl-resume -->
                </div><!-- /owl-resume-wrapper -->
                <!-- download-resume -->
                <div class="download-resume">
                    <a href="CV_FLO.pdf" title="Download Resume" class="btn btn-lg btn-nesto" target="_blank">
                        Télécharger CV
                    </a>
                </div><!-- /download-resume -->
            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /resume-section -->

    <!-- =========================================
    Subscribe Section
    ========================================== -->
    <!-- subscribe-section -->
    <div id="subscribe-section" style="background-image: url('{{ ez_field_value(content, 'image_subscribe').uri }}');">
        <!-- subscribe-section-overlayer -->
        <div id="subscribe-section-overlayer">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-6">
                        <!-- section-title -->
                        <div class="section-title wow fadeInDown" data-wow-duration="1.5s">
                            <h1>S'inscrire à la Newsletter</h1>
                        </div><!-- /section-title -->
                    </div>
                    <!-- col-md-6 -->
                    <div class="col-md-6">
                        <!-- newsletter-form -->
                        <form id="newsletter-form" role="form">
                            <!-- row -->
                            <div class="row">
                                <!-- col-md-12 -->
                                <div class="col-md-12">
                                    <!-- form-group -->
                                    <div class="form-group">
                                        <!-- email -->
                                        <input type="email" class="form-control" placeholder="Entrer votre adresse e-mail" name="email" value="">
                                        <!-- Subscribe Button -->
                                        <button type="submit" class="btn btn-lg btn-nesto-o">
                                            Souscrire
                                        </button>
                                    </div><!-- /form-group -->
                                </div><!-- /col-md-12 -->
                                <!-- col-md-12 -->
                                <div class="col-md-12">
                                    <!-- nesto-message -->
                                    <div class="nesto-message">
                                        <!-- nesto-response -->
                                        <p class="nesto-response"></p>
                                    </div><!-- /nesto-message -->
                                </div><!-- /col-md-12 -->
                            </div><!-- /row -->
                        </form><!-- /newsletter-form -->
                    </div><!-- /col-md-6 -->
                </div><!-- /row -->
            </div><!-- /container -->
        </div><!-- /subscribe-section-overlayer -->
    </div><!-- /subscribe-section -->

    <!-- =========================================
    Portfolio Section
    ========================================== -->
    <!-- portfolio-section -->
    <div id="portfolio-section">
        <!-- portfolio-photostack -->
        <div id="portfolio-photostack" class="photostack">
            <div>
                {{ render_esi(controller('ez_content:viewAction', {
                    locationId: gallery_location_id,
                    viewType: 'home'
                })) }}
            </div>
        </div><!-- /portfolio-photostack -->
    </div><!-- /portfolio-section -->

    <!-- =========================================
    More Section
    ========================================== -->
    <!-- more-section -->
    <div id="more-section">
        <!-- more-button -->
        <div class="more-button">
            <a href="{{ path('ez_urlalias', {locationId: gallery_location_id}) }}" title="{{ 'View all'|trans }}" class="btn btn-lg btn-nesto-o">
                {{ 'View all'|trans }}
            </a>
        </div><!-- /more-button -->
    </div><!-- /more-section -->

    <!-- =========================================
    Testimonials Section
    ========================================== -->
    <!-- testimonials-section -->
    <div id="testimonials-section" style="background-image: url('{{ ez_field_value(content, 'image_testimonials').uri }}');">
        <!-- testimonials-section-overlayer -->
        <div id="testimonials-section-overlayer">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- col-md-12 -->
                    <div class="col-md-12">
                        <!-- owl-testimonials-wrapper -->
                        <div id="owl-testimonials-wrapper">
                            <!-- owl-testimonials -->
                            <div class="owl-testimonials">
                                {{ render_esi(controller('ez_content:viewAction', {
                                    locationId: testimonials_location_id,
                                    viewType: 'home'
                                })) }}
                            </div><!-- /owl-testimonials -->
                        </div><!-- /owl-testimonials-wrapper -->
                    </div><!-- /col-md-12 -->
                </div><!-- /row -->
            </div><!-- /container -->
        </div><!-- /testimonials-section-overlayer -->
    </div><!-- /testimonials-section -->

    <!-- =========================================
    Certification Section
    ========================================== -->
    <!-- certif-section -->
    <div id="certif-section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- col-md-12 -->
                <div class="col-md-12">
                    <!-- section-title -->
                    <div class="section-title wow fadeInDown" data-wow-duration="1.5s">
                        <h1>Certifications</h1>
                    </div><!-- /section-title -->
                    <!-- section-desc -->
                    <div class="section-desc wow fadeInUp" data-wow-duration="1.5s">
                        <h3>Voici mes certifications</h3>
                    </div><!-- /section-desc -->
                </div><!-- /col-md-12 -->
                {{ render_esi(controller('ez_content:viewAction', {
                    locationId: certifications_location_id,
                    viewType: 'home'
                })) }}
            </div><!-- /row -->
        </div><!-- /container -->
    </div><!-- /pricing-section -->

    <!-- =========================================
    Numbers Section
    ========================================== -->
    <!-- numbers-section -->
    <div id="numbers-section" style="background-image: url('{{ ez_field_value(content, 'image_numbers').uri }}');">


        <!-- numbers-section-overlayer -->
        <div id="numbers-section-overlayer">


            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">


                    <!-- col-md-3 col-sm-6 col-xs-6 -->
                    <div class="col-md-3 col-sm-6 col-xs-6">


                        <!-- numbers -->
                        <div class="numbers wow fadeInUp" data-wow-duration="1.5s">

                            <!-- box-icon -->
                            <div class="box-icon">
                                <i class="pe-7s-edit"></i>
                            </div><!-- /box-icon -->

                            <!-- box-numbers -->
                            <div class="box-numbers">
                                <span class="odometer" data-to="2365"></span>
                            </div><!-- /box-numbers -->

                            <!-- box-title -->
                            <div class="box-title">
                                <h2>Lignes De Code</h2>
                            </div><!-- /box-title -->

                        </div><!-- /numbers -->


                    </div><!-- /col-md-3 col-sm-6 col-xs-6 -->


                    <!-- col-md-3 col-sm-6 col-xs-6 -->
                    <div class="col-md-3 col-sm-6 col-xs-6">


                        <!-- numbers -->
                        <div class="numbers wow fadeInDown" data-wow-duration="1.5s">

                            <!-- box-icon -->
                            <div class="box-icon">
                                <i class="pe-7s-global"></i>
                            </div><!-- /box-icon -->

                            <!-- box-numbers -->
                            <div class="box-numbers">
                                <span class="odometer" data-to="365"></span>
                            </div><!-- /box-numbers -->

                            <!-- box-title -->
                            <div class="box-title">
                                <h2>Sites Web</h2>
                            </div><!-- /box-title -->

                        </div><!-- /numbers -->


                    </div><!-- /col-md-3 col-sm-6 col-xs-6 -->


                    <!-- col-md-3 col-sm-6 col-xs-6 -->
                    <div class="col-md-3 col-sm-6 col-xs-6">


                        <!-- numbers -->
                        <div class="numbers wow fadeInUp" data-wow-duration="1.5s">

                            <!-- box-icon -->
                            <div class="box-icon">
                                <i class="pe-7s-coffee"></i>
                            </div><!-- /box-icon -->

                            <!-- box-numbers -->
                            <div class="box-numbers">
                                <span class="odometer" data-to="565"></span>
                            </div><!-- /box-numbers -->

                            <!-- box-title -->
                            <div class="box-title">
                                <h2>Tasses de Café</h2>
                            </div><!-- /box-title -->

                        </div><!-- /numbers -->


                    </div><!-- /col-md-3 col-sm-6 col-xs-6 -->


                    <!-- col-md-3 col-sm-6 col-xs-6 -->
                    <div class="col-md-3 col-sm-6 col-xs-6">


                        <!-- numbers -->
                        <div class="numbers wow fadeInDown" data-wow-duration="1.5s">

                            <!-- box-icon -->
                            <div class="box-icon">
                                <i class="pe-7s-help2"></i>
                            </div><!-- /box-icon -->

                            <!-- box-numbers -->
                            <div class="box-numbers">
                                <span class="odometer" data-to="165"></span>
                            </div><!-- /box-numbers -->

                            <!-- box-title -->
                            <div class="box-title">
                                <h2>Ticket Support</h2>
                            </div><!-- /box-title -->

                        </div><!-- /numbers -->


                    </div><!-- /col-md-3 col-sm-6 col-xs-6 -->


                </div><!-- /row -->
            </div><!-- /container -->


        </div><!-- /numbers-section-overlayer -->


    </div><!-- /numbers-section -->




    <!-- =========================================
    Contact Section
    ========================================== -->
    <!-- contact-section -->
    <div id="contact-section">


        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">


                <!-- col-md-12 -->
                <div class="col-md-12">

                    <!-- section-title -->
                    <div class="section-title wow fadeInDown" data-wow-duration="1.5s">
                        <h1>contact</h1>
                    </div><!-- /section-title -->

                    <!-- section-desc -->
                    <div class="section-desc wow fadeInUp" data-wow-duration="1.5s">
                        <h3>entrez en contact</h3>
                    </div><!-- /section-desc -->

                </div><!-- /col-md-12 -->

                <!-- col-md-12 -->
                <div class="col-md-12 wow pulse" data-wow-duration="1.5s">
                    <!-- row -->
                    <div class="row">


                        <!-- form -->
                        <form role="form" id="contactform" method="post" action="javascript:nestocontact();">


                            <!-- col-md-4 -->
                            <div class="col-md-4">

                                <!-- Contact Name -->
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nom" name="username" id="name">
                                </div><!-- /Contact Name -->

                            </div><!-- /col-md-4 -->

                            <!-- col-md-4 -->
                            <div class="col-md-4">

                                <!-- Contact Email -->
                                <div class="form-group">
                                    <input type="text" class="form-control email" placeholder="Email" name="useremail" id="email">
                                </div><!-- /Contact Email -->

                            </div><!-- /col-md-4 -->

                            <!-- col-md-4 -->
                            <div class="col-md-4">

                                <!-- Contact Subject -->
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Sujet" name="usersubject" id="subject">
                                </div><!-- /Contact Subject -->

                            </div><!-- /col-md-4 -->


                            <!-- col-md-12 -->
                            <div class="col-md-12">

                                <!-- Contact Message -->
                                <div class="form-group">
                                    <textarea rows="10" class="form-control" placeholder="Message" name="usermessage" id="message"></textarea>
                                </div><!-- /Contact Message -->

                            </div><!-- /col-md-12 -->


                            <!-- col-md-12 -->
                            <div class="col-md-12">
                                <!-- Submit Button -->
                                <button type="submit" id="nesto-submit" class="btn btn-lg btn-nesto">
                                    Envoyer maintenant
                                </button>
                            </div><!-- /col-md-12 -->


                            <!-- col-md-12 -->
                            <div class="col-md-12">
                                <!-- form-message -->
                                <div class="form-message"></div>
                            </div><!-- /col-md-12 -->


                        </form><!-- /form -->


                    </div><!-- /row -->
                </div><!-- /col-md-12 -->


            </div><!-- /row -->
        </div><!-- /container -->


    </div><!-- /contact-section -->
{% endblock %}
